* {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #E8D7F1;
}

.hgame {
  margin-left: auto;
  margin-right: auto;
}

main {
    display: flex;
    justify-content: center;
  }
  
  table {
    max-width: 100%;
  }

  tr:nth-child(odd) {
    background-color: #CEF3E4;
  }

  tr:nth-child(even) {
    background-color: #F0EFF4;
  }
  
  th {
    background-color: #CEF3E4;
    color: #3D2645;
  }
  
  th,
  td {
    text-align: left;
    padding: 0.5em 1em;
  }
  
  td::before {
    display: none;
  }

  a {
    color: #3D2645;
  }
  